<?xml version="1.0" encoding="UTF-8"?>


<!-- DTD 지정 -->
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="com.itcen.lsy.vo.Book" alias="Book" />
	</typeAliases>

	<mappers>
	<mapper resource="mybatis/book.xml"/>
	</mappers>
</configuration>
